body {
    width: 500px;
    height: 1400px;
    margin: 0 auto;
}

p {
    background: aqua;
    border: 3px solid blue;
    padding: 10px;
    margin: 10px;
}

h1 {
    position: fixed;
    top: 0;
    width: 500px;
    margin: 0 auto;
    background: white;
    padding: 10px;
}

span {
    background: red;
    border: 1px solid black;
}

p:nth-of-type(1) {
    margin-top: 60px;
}

.positioned {
    position: sticky;
    top: 30px;
    left: 30px;
}