.container {
    border: 5px solid blue;
    margin: 40px;
}

.box {
    border: 5px solid rebeccapurple;
    background-color: lightgray;
    padding: 10px;
    height: 100px;
    /* try changing the margin properties: */
    margin-top: -20px;
    margin-right: 50px;
    margin-bottom: 60px;
    margin-left: 4em;
}