/* General setup */

* {
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:10px;
}

body {
    margin: 0 auto;
    min-width: 1000px;
    max-width: 1400px;
    line-height:1.5;
    height:100%;
}

/* Layout */

section {
    float: left;
    width: 50%;
}

aside {
    float: left;
    width: 30%;
}

nav {
    float: left;
    width: 20%;
    height:stretch;
    background-color:antiquewhite;
    line-height:5;
}

nav:hover{
    background-color:lightpink;
}

footer {
    clear: both;
}

header, section, aside, nav, footer {
    padding: 20px;
}

/* header and footer */

header, footer {
    border-top: 5px solid #a66;
    border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

h1{
    font-size:3.3rem;
    text-align:center;
    letter-spacing:1px;
    word-spacing:3px;
}

h2{
    font-size:2.6rem;
}

p,li,a{
    font-size:1.8rem;
}

section h2+p{
    text-indent:20px;
}

a:link,
a:visited,
a:focus,
a:hover{
    color:#a66;
}

a:focus,
a:hover{
    text-decoration:none;
}

a:focus{
    outline:none;
}

a:active{
    color:mediumpurple;
    background-color:yellowgreen;
}

a{
    background-image:url(external-link-52.png);
    background-position:100%;
    background-repeat:no-repeat;
    background-size:contain;
    padding-right:25px;
}

ul{
    list-style-type:square;
}