body {
    font: 1.2em / 1.5 sans-serif;
}
/* 在这里添加样式 */
h2 + p {
    color: red;
}

.list {
    list-style-type: none;
}

    .list > li {
        border-bottom: 1px solid;
        border-bottom-color: darkgrey;
    }