li {
    font-size: 80%;
}

.wrapper1 {
    background-image: url(https://mdn.github.io/shared-assets/images/examples/balloons.jpg);
    background-repeat: no-repeat;
    background-position: bottom left;
    padding: 20px;
}

.box1 {
    margin: 40px auto;
    width: 230px;
    background-color: lightblue;
    border: 5px solid darkblue;
    padding: 10px;
    opacity: 0.6;
}

.box {
    padding: 10px;
    margin: 0.5em 0;
    border-radius: 0.5em;
}

.one {
    background-color: antiquewhite;
}

.two {
    background-color: blueviolet;
}

.three {
    background-color: greenyellow;
}