a {
    border: 5px solid grey;
    padding: 0.2em;
}
/* 在这里添加样式 */
ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style-type: none;
    font-size: 150%;
    line-height: 3em;
}

a[title] {
    border-color: pink;
}

a[href*="contact"] {
    border-color: orange;
}

a[href^="https"] {
    border-color: green;
}