/* 1. 优先级：1-0-1 */
#outer a {
    background-color: red;
}

/* 2. 优先级：2-0-1 */
#outer #inner a {
    background-color: blue;
}

/* 3. 优先级：1-0-4 */
#outer div ul li a {
    color: yellow;
}

/* 4. 优先级：1-1-3 */
#outer div ul .nav a {
    color: white;
}

/* 5. 优先级：0-2-4 */
div div li:nth-child(2) a:hover {
    border: 10px solid black;
}

/* 6. 优先级：0-2-3 */
div li:nth-child(2) a:hover {
    border: 10px dashed black;
}

/* 7. 优先级：0-3-3 */
div div .nav:nth-child(2) a:hover {
    border: 10px double black;
}

a {
    display: inline-block;
    line-height: 40px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    width: 200px;
    margin-bottom: 10px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}
