body {
    background-color: #fff;
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
}

.job-title:hover {
    font-size: 1.2em;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aqua;
}

h1 {
    color: hotpink;
    font-size: 2em;
    font-family: Georgia, "Times New Roman", Times, serif;
    border: 10px dashed purple;
}

h2 {
    font-size: 1.5em;
    font-style: italic;
}

.job-title {
    color: #999999;
    font-weight: bold;
}

a:link,
a:visited {
    color: #fb6542;
    background-color: #eeeeee;
    border: 5px solid;
    border-color: mediumpurple;
    padding: 0.01em;
}

a:hover {
    text-decoration: none;
    color: green;
}