/* Type and text */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: inherit;
    font: 1.2em / 1.5 system-ui;
    margin:0 auto;
}

h1 {
    font-size: calc(1.5vw + 1.7em);
}

    h1::before {
        content: "📖";
        padding-right:20px;
    }

h2 {
    font-size: calc(1vw + 1.3em);
}

a {
    color: red;
}

    a:hover,
    a:focus {
        text-decoration: none;
    }

/* Styling the pane */
h1,
.controls {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100px;
}

.content {
    border: 2px solid #28587b;
    background-color: #eeeeff;
    background-image: url(https://mdn.github.io/shared-assets/images/examples/big-star.png);
    background-size:40px 40px;
    background-position:right 15px top 5px;
    background-repeat:no-repeat;
    border-radius:10px;
    height:calc(100% - 200px);
    padding:0 20px;
    overflow:auto;
}

.controls {
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

button {
    flex: 1;
    height:100%;
    font-size:1.2em;
    color:white;
    background-color:rgb(40 88 123 / 0.8);
    border-radius:10px;
}

button:hover,
button:focus{
    background-color:rgb(40 88 123);
}

.pane{
    height:100%;
    width:clamp(480px,60%,1000px);
    margin:0 auto;
    padding:0 20px;
    background:linear-gradient(
        to bottom,
        #9fb4c7,
        #7f7caf
    );
}

img{
    display:block;
    max-width:90%;
    margin:0 auto;
    border:1px solid #28587b;
}